@CHARSET "UTF-8";

div.commit-bottom {
	bottom: 11px;
    position: absolute;
    right: 5px;
}

div.left-table {
	float:left;
	width:340px;
}

div.right-table {
	float:left;
	width:850px;
	margin-left: 10px;
	/* position:absolute;
	right:12px;
	top:8px; */
}

#addform {
	position: absolute;
	top:20%;
	left:15%;
}

#addform tr:first-child td:first-child{text-align:right}
#addform tr:first-child td:nth-child(2){text-align:left}